.cartImg{
  border-radius:5px;
  border:2px solid #ccc;
  float:left; width:30%;

}
.cartImg img{    height:150px;
  width:150px;}
.star{font-size: 18px}

.detail{
  float: left; width:65%; margin-left: 2%;
}
.productdetail{ background-color: green; color:#fff;padding: 4px; border-radius: 2px; margin-bottom: 10px;}
.productlist{ width:60%; margin: auto;}
.emptycart{
  width:50%; margin: auto; text-align: center;  
}
.clear{ clear:both;}
.menuleft{ float: left;
width: 50%}

.btn{margin-left: 80px;}
.countBtn{ cursor: pointer;}