<div class="productlist" *ngIf="qtyCartMapping.size !== 0" >
      
<mat-card  *ngFor="let c of qtyCartMapping | keyvalue">
<div >
  <div  class="cartImg">
     <img src={{c.key.imagePath}}>
  </div>
   <div class="detail">
      <!-- <mat-card-title>{{c.name}}</mat-card-title> -->
      <span class="productdetail"><mat-icon class="star">star</mat-icon> {{c.key.rating}}</span>
      <br><br>
       <p>Price:{{c.key.price}}</p>
        <!-- Qty<input  type="text"  (click)="total(c.key,$event)" placeholder=""> -->
      <mat-icon (click)="total(c.key,'false')" class="countBtn">remove_circle</mat-icon>{{qty}}<mat-icon class="countBtn" (click)="total(c.key,'true')" >add_circle</mat-icon>

      <button class="btn" mat-flat-button color="warn" (click)="removeitem(c.key)">Remove</button>
    </div>
    <div class="clear"></div>

</div>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
<span style="float:left; width:50%;"><mat-card-title >Cart Total:{{totalprice}}</mat-card-title></span>
<span style="float:right; width:50%;"><button mat-raised-button color="primary" (click)="checkout()">Check Out</button></span>
<div class="clear"></div>
</mat-card>

</div>
<div *ngIf="qtyCartMapping.size === 0">
      <mat-card class="emptycart">
            <mat-card-title>Sorry... Your Cart Is Empty</mat-card-title>
            <button mat-raised-button color="primary" routerLink="/home"><mat-icon>home</mat-icon>Home</button>

      </mat-card>

</div>
