<div class="backgrd">

  <mat-card class="example-card">
  <mat-card-header>
      <span class="txtleft"><mat-card-title><h3>Login</h3></mat-card-title></span>
    <span class="txtright"><mat-card-title >New User?<a class="signuptxt" routerLink="/register"> Sign Up</a></mat-card-title></span>
    <div class="clear"></div>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup] ="loginGroup" >
      <table  cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="username"  required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password" type="password" required>
        </mat-form-field></td>
      </tr>
     
    </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <div class="loginbtn" >
    <button  mat-raised-button (click)="login()" color="primary">Login</button></div>
  </mat-card-actions>
</mat-card>
</div>
<!-- <a routerLink="reasdasd">asdasd</a> -->