
<div class="container"
     fxLayout="row"
     fxLayoutAlign="center"
     fxLayoutGap="10px">
  <!-- <div fxFlex="20%"></div> -->
     
  <div fxFlex></div>
</div>


<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div  fxFlex fxFlexOffset="10%"  fxFlexOffset.xs="0"><app-filter></app-filter></div>
  <div  fxFlex="90%"><app-view-product></app-view-product></div>
</div>
<!-- <router-outlet></router-outlet> -->
<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->
<!-- <app-home></app-home> -->

