<br><br>
<div class="productlist" >
  <div *ngFor="let o of orders">
    
    <mat-card *ngFor="let c of o.cartobj | keyvalue">
      <div>
        <div class="cartImg">
          <img src={{c.key.imagePath}}>
        </div>
        <div class="detail">
          <!-- <mat-card-title>{{c.name}}</mat-card-title> -->
          <span class="productdetail">
            <mat-icon class="star">star</mat-icon> {{c.key.rating}}
          </span>
          <br><br>
          <p>Price:{{c.key.price}}</p>
          <p>Order Date: {{o.date | date}}</p>
        </div>
        <div class="clear"></div>

      </div>
    </mat-card>
  </div>
 
</div>
<div  *ngIf="orders.length === 0">
  <mat-card class="emptycart">
    <mat-card-title>Sorry... Till Now You Have Not Placed Any Orders</mat-card-title>
    <button mat-raised-button color="primary" routerLink="/home">Home</button>

  </mat-card>

</div>